<div class="container-fluid p-0">
  <hr class="line">
  <footer class="text-center text-white">
    <div class="container">
      <section>
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase">
              <a  class="text-white"  (click)="scrollToTop()" routerLink="/">home</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase">
              <a class="text-white" routerLink="/register">registrati</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase">
              <a class="text-white" (click)="scrollToTop()" routerLink="/tour">tour virtuale</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase">
              <a class="text-white" (click)="scrollToTop()" routerLink="/contatti">contatti</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase">
              <a class="text-white" routerLink="/cookie_policy" target="_blank">Privacy</a>

            </h6>
          </div>
        </div>
      </section>
      <hr class="my-4" />
      <section class="mb-3">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <a class="navbar-brand" href="/">
              <img src="assets/img/logo-acquario-di-genova-negative.png" alt="logo">
            </a>
            <p class="pt-3 info">
              Costa Edutainment S.p.A. Acquario di Genova | Area Porto Antico - Ponte Spinola - 16128 - Genova
              <br>
              <a href="tel:+3901023451">Tel. 010/23451</a> - Fax 010/256160 - PIVA e CF : 03362540100
            </p>
          </div>
        </div>
      </section>
      <section class="text-center pb-5">
        <a href="https://it-it.facebook.com/acquariodigenova/" target="_blank" class="text-white me-4">
          <i class="fa-brands fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/acquariodigenova/" target="_blank" class="text-white me-4">
          <i class="fa-brands fa-square-instagram fa-2x"></i>
        </a>
        <a href="https://twitter.com/AcquarioGenova" target="_blank" class="text-white me-4">
          <i class="fa-brands fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC08zpGojs1vlDapzcXQschw" target="_blank" class="text-white me-4">
          <i class="fa-brands fa-youtube fa-2x"></i>
        </a>
      </section>
    </div>
  </footer>
</div>
