<app-navbar [isLoggedIn]="isLoggedIn"></app-navbar>


<div class="banner-image mt-5">
  <div class="container pb-5">
    <div class="row py-5 ">
      <div class="col-lg-6">
        <h1 class="display-4 mb-5 pt-5  text-white">Tour virtuale</h1>
        <p class="h5 aa mb-5  text-white">
          Immergiti nel fantastico mondo sottomarino comodamente da casa tua con i nostri virtual tour per festeggiare
          il trentesimo anniversario dell'Acquario di Genova.</p>
      </div>
    </div>
  </div>
</div>

<div class=" text-center bg-dark hero pb-5 px-5 pt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4 pb-5 justify-content-center gutter ">
    <div class="col">
      <div class="card pt-3">
        <iframe id="evrFrame" width="100%" height="640"
          style="width: 100%; height: 640px; border: none; max-width: 100%;" allowvr="yes"
          allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"
          frameborder="0"
          src="https://webobook.com/public/64079c811b33b177b67de1d2,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&"></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold ">La baia degli squali</h5>
          <p class="card-text text-white">La baia degli squali, la grande vasca dedicata ai predatori del mare, che
            ospita, oltre a diverse specie di squalo provenienti da vari ambienti marini, altri pesci interessanti.</p>
          <a href="https://webobook.com/public/64079c811b33b177b67de1d2,en" target="_blank"
            class="btn btn-primary rounded-pill px-4">Entra</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card pt-3">
        <iframe id="evrFrame" width="100%" height="640"
          style="width: 100%; height: 640px; border: none; max-width: 100%;" allowvr="yes"
          allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"
          frameborder="0"
          src="https://webobook.com/public/640856a645a63d6c531f5c72,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&"></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold ">Laguna corallina</h5>
          <p class="card-text text-white">Le barriere coralline sono tra gli ecosistemi più ricchi di specie animali e
            vegetali al mondo e grazie ai coralli offre protezione a migliaia di pesci e molluschi.</p>
          <a href="https://webobook.com/public/640856a645a63d6c531f5c72,enn" target="_blank"
            class="btn btn-primary rounded-pill px-4">Entra</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card pt-5">
        <iframe id="evrFrame" width="100%" height="640"
          style="width: 100%; height: 640px; border: none; max-width: 100%;" allowvr="yes"
          allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"
          frameborder="0"
          src="https://webobook.com/public/64281f30de04680f43792b92,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&"></iframe>
        <div class="card-body">
          <h5 class="card-title  text-white fw-bold">Il regno dei ghiacci</h5>
          <p class="card-text text-white">La suggestiva scenografia con pareti laccate bianco a effetto ghiaccio
            accompagna i visitatori alla scoperta dell’inospitale continente antartico e delle aree subantartiche.</p>
          <a href="https://webobook.com/public/64281f30de04680f43792b92,en" target="_blank"
            class="btn btn-primary rounded-pill px-4">Entra</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card pt-5">
        <iframe id="evrFrame" width="100%" height="640"
          style="width: 100%; height: 640px; border: none; max-width: 100%;" allowvr="yes"
          allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"
          frameborder="0"
          src="https://webobook.com/public/6430041fbe505200c6270162,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&"></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold">Fiumi dell'Amazzonia</h5>
          <p class="card-text text-white">Una maestosa vasca che ripropone un tratto dei tanti fiumi dell'Amazzonia, con
            rocce, tronchi d'albero, piante acquatiche, diverse specie di pesci tropicali e i caimani nani.</p>
          <a href="https://webobook.com/public/6430041fbe505200c6270162,en" target="_blank"
            class="btn btn-primary rounded-pill px-4">Entra</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card pt-5">
        <iframe id="evrFrame" width="100%" height="640"
          style="width: 100%; height: 640px; border: none; max-width: 100%;" allowvr="yes"
          allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"
          frameborder="0"
          src="https://webobook.com/public/642ff40f1d003a2af543f8b2,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&"></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold">Parete rocciosa</h5>
          <p class="card-text text-white">Nella semioscurità, compare l’imponente grotta delle murene, un vasca
            cilindrica alta oltre 6 metri, avvolta da un allestimento che ricorda la sezione di una conchiglia.</p>
          <a href="https://webobook.com/public/642ff40f1d003a2af543f8b2,en" target="_blank"
            class="btn btn-primary rounded-pill px-4">Entra</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card pt-5">
        <iframe id="evrFrame" width="100%" height="640"
          style="width: 100%; height: 640px; border: none; max-width: 100%;" allowvr="yes"
          allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"
          frameborder="0"
          src="https://webobook.com/public/642fde38cc1d0207620e5542,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&"></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold">La danza delle meduse</h5>
          <p class="card-text text-white">Una sala dove lasciarsi trasportare dal movimento fluttuante delle meduse, la
            colonna sonora dedicata e una particolare illuminazione accompagna i visitatori in questa coinvolgente
            esperienza.</p>
          <a href="https://webobook.com/public/642fde38cc1d0207620e5542,en" target="_blank"
            class="btn btn-primary rounded-pill px-4">Entra</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
