<app-navbar [isLoggedIn]="isLoggedIn"></app-navbar>


<div class="banner-image mt-5">
  <div class="container pb-5">
    <div class="row py-5 align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 mb-5 pt-5  text-white">Tour virtuale</h1>
        <p class="h5 aa mb-5  text-white">
          Immergiti nel fantastico mondo sottomarino comodamente da casa tua con i nostri virtual tour per festeggiare
          il trentesimo anniversario dell'Acquario di Genova.</p>
      </div>
    </div>
  </div>
</div>


<div class=" text-center bg-dark hero pb-5 px-5 pt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4 pb-5">
    <div class="col">
      <div class="card">
        <iframe id="evrFrame" width="100%" height="640" style="width: 100%; height: 640px; border: none; max-width: 100%;"  allowvr="yes" allow="xr-spatial-tracking;vr;gyroscope;accelerometer;fullscreen;" scrolling="no" allowfullscreen="true"  frameborder="0" src="https://webobook.com/public/64079c811b33b177b67de1d2,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&" ></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold ">La baia degli squali</h5>
          <p class="card-text text-white">La baia degli squali, la grande vasca dedicata ai predatori del mare, che ospita, oltre a diverse specie di squalo provenienti da vari ambienti marini, altri pesci interessanti.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <iframe width="100%" height="640" style="width: 100%; height: 640px; border: none; max-width: 100%;" allow="xr-spatial-tracking; vr; gyroscope; accelerometer; fullscreen; autoplay; xr" scrolling="no" allowfullscreen="true"  frameborder="0" src="https://webobook.com/public/640856a645a63d6c531f5c72,en?ap=false&si=false&sm=false&sp=false&sfr=false&sl=false&sop=false&" allowvr="yes" ></iframe>
        <div class="card-body">
          <h5 class="card-title text-white fw-bold ">Barriera corralina</h5>
          <p class="card-text text-white">Le barriere coralline sono tra gli ecosistemi più ricchi di specie animali e vegetali al mondo e grazie ai coralli offre protezione a migliaia di pesci e molluschi.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-photo/mount-mont-blanc-covered-snow-reflecting-water-evening-chamonix-france_181624-33408.jpg?w=1060&t=st=1680128043~exp=1680128643~hmac=0689dce0bc69313c24fc8fedfcc8339a24a17a527d536205b3790c0a9670690c" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Virtual tour</a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-photo/aerial-view-business-team_53876-124515.jpg?w=1060&t=st=1680128104~exp=1680128704~hmac=1a1d82d6676d0213e9e01dddd9b8651403eb13c6be8adf429761d4eedaaa7a6e" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Virtual tour</a>

        </div>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>
