.hero {
  padding-top: 30px;
  padding-left: 75px !important;
  padding-right: 75px !important;
  margin-top: -80px !important;
  margin-bottom: -3px;
  background-color: #00050B !important;
}

h1 {
  font-weight: 400;
}

.banner-image {
  background-image: url("../../../assets/img/oblo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 620px;
  padding-top: 100px;
  margin-top: -80px !important;
}

.banner-image p {
  line-height: 45px;
}


iframe {
  max-height: 300px !important;
  border: none !important;
}

.card {
  border: none !important;
  background-color: transparent;
}

.gutter {
  --bs-gutter-x: 5rem;
}

h5 {
  color: orangered !important;
}

.card-img-top {
  border-radius: 0;
  max-height: 250px !important;
  object-fit: cover;
}

.card-body {
  background: linear-gradient(#01052e, #00050B);
  border: none !important;
}

.btn {
  background-color: orangered;
  border: 1px solid orangered;
  font-weight: 600;
  opacity: 1;
}

.btn:hover {
  background-color: rgb(192, 51, 0);
  border-color: rgb(192, 51, 0);
}

@media screen and (max-width: 992px) {
  .gutter {
    --bs-gutter-x: 4rem;
  }

  .hero {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}


@media screen and (min-width: 1300px) {
  .banner-image {
    min-height: 700px;
  }

  h1 {
    padding-top: 70px !important;
  }

  .hero {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .gutter {
    --bs-gutter-x: 7rem;
  }

  iframe {
    max-height: 450px !important;
  }

  .card-body {
    padding: 25px 80px;
  }
}
