<nav class="navbar  navbar-expand ps-4 pe-4 ">
  <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="../../../../assets/img/logo-acquario-di-genova-negative.png" alt="logo" >
      </a>


      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link text-white fw-bold" routerLink="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/login" class="nav-link text-white fw-bold" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item  pt-2 pe-3">
          <a class="nav-link text-white nome" routerLink="profile">Ciao, {{ username }}</a>
        </li>
        <li class="nav-item pt-2">
          <a class="nav-link btn btn-primary mb-2 btn-tertiary rounded-pill px-3 me-2 text-white" (click)="logout()" routerLink="/">Logout</a>
        </li>
      </ul>

  </div>
</nav>









