.hero{
  padding-top: 100px;
  margin-top: -80px!important;
  margin-bottom: -2px;
  overflow-x: hidden;
   background-image: url(../../../assets/img/biosfera-contatti.jpg);
  background-size: cover;
  background-position: center;

}

h1 {
  font-weight: 400;
}

a{
  color: white;
  text-decoration: none;
}



.contact-area {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(128, 128, 128, 0.199);
  backdrop-filter: blur(10px);
}

.card{
  border-radius: 0;
}

/*START ADDRESS*/

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 60px;
  margin-top: 30px;

}



.single_address i {
  background: #f6f6f6;
  color: orangered;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 14px;
  font-size: 22px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: orangered;
  color: #fff;
}

.single_address h4 {
  font-size: 18px;
  margin-bottom: 0px;
  overflow: hidden;
  font-weight: 600;
}

.single_address p {
  overflow: hidden;
  margin-top: 5px;
}


@media only screen and (max-width:768px) {
  .contact {
      margin-bottom: 60px;
  }

  .card{
    margin-bottom: 60px;
  }
}


@media only screen and (max-width:992px){
  .single_address{
    padding-left: 0;
  }
}

@media only screen and (max-width:767px){
  .single_address{
    padding-left: 50px;
  }
}

