.banner-image {
  background-image: url("../../../../assets/img/30anni.jpg");
  background-size: cover;
  background-position: center;
  height: 620px;
  padding-top: 100px;
  margin-top: -80px !important;
}

h1 {
  font-weight: 400;
}

.tuffo {
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: orangered;
  border-color: orangered;
}

.tuffo:hover {
  background-color: rgb(196, 53, 1);
  border-color: rgb(196, 53, 1);
}

p {
  line-height: 35px;
}

.descr {
  background-image: url("../../../../assets/img/background-01_UN.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -1px;
}

h3 {
  font-weight: 500 !important;
  padding-top: 10px;
}

hr {
  margin: auto;
  width: 50%;
  border: none;
  border-top: 3px solid orangered;
  opacity: 1;
}

.squalo {
  background-image: url("../../../../assets/img/background-squalo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-x: hidden;
  margin-top: -1px;
  min-height: 800px;
}

.squalo p {
  text-align: justify;
}

.descriptionsqualo {
  padding-top: 90px;
  margin-top: 0;
}


.pinguino {
  background-image: url("../../../../assets/img/ghiacci1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-x: hidden;
  margin-top: -1px;
  min-height: 600px;
}

.pinguino p {
  text-align: justify;
}

.medusa {
  background-image: url("../../../../assets/img/background-04.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-x: hidden;
  margin-top: -1px;
  min-height: 600px;
}

.medusa p {
  text-align: justify;
}

.biosfera {
  background-image: url("../../../../assets/img/biosfera_d_1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-x: hidden;
  margin-top: -1px;
  min-height: 600px;
}

.biosfera p {
  text-align: justify;
}

.ibis {
  background-image: url("../../../../assets/img/ibis.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-x: hidden;
  margin-top: -1px;
  min-height: 600px;
}

.ibis p {
  text-align: justify;
}

.visit {
  background-image: url("../../../../assets/img/background-06.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  margin-bottom: -2px;
}

.visit h3 {
  padding-top: 2.5em !important;
  line-height: 45px;
}

@media screen and (min-width: 1300px) {

  .banner-image,
  .descr,
  .squalo,
  .pinguino,
  .medusa,
  .biosfera,
  .ibis,
  .visit {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;

    p {
      font-size: 22px;
    }
  }

  .descriptionsqualo {
    padding-top: 170px;
  }

  .descriptionpinguino {
    padding-top: -10px;
  }

  .descriptionmedusa,
  .descriptionbio,
  .descriptionibis {
    padding-top: 40px;
  }

  .banner-image {
    min-height: 700px;
  }

  .visit {
    min-height: 800px;
  }

  .descr {
    min-height: 700px;
  }

  .visit {
    padding-top: 10em !important;
    line-height: 55px;
  }
}
