<app-navbar [isLoggedIn]="isLoggedIn"></app-navbar>

<div class="banner-image mt-5">
  <div class="container pb-5">
    <div class="row py-5 align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 mb-5 pt-5  text-white">Festeggiamo insieme 30 anni di Acquario</h1>
        <p class="h5 aa mb-5  text-white">
          Un eccezionale <span style="color:orangered;font-weight:bold">Tour virtuale interattivo</span> tra le vasche
          più iconiche dell'Acquario di Genova per celebrare il trentesimo anniversario e ammirare la sua grande
          biodiversità! </p>
        <div class="d-flex"  *ngIf="!isLoggedIn">
          <a href="" class="btn btn-primary text-center text-white me-2 rounded-pill px-4 py-2 fw-bold tuffo"
            routerLink="/tour">Accedi</a>
        </div>
        <div class="d-flex" *ngIf="isLoggedIn">
            <a href="" class="btn btn-primary text-center text-white me-2 rounded-pill px-4 py-2 fw-bold tuffo"
            routerLink="/tour">Tuffati</a>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid descr ">
  <div class="px-4 pt-5  text-center pb-5">
    <h3 class="display-6 fw-bold text-white py-3">Il più grande Acquario d'Europa</h3>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 pt-3 text-white">L’Acquario di Genova compie 30 anni. Un importante traguardo per la
        struttura, gestita da Costa Edutainment, che dal 1992 ad oggi, ha accolto oltre 33 milioni di visitatori
        avvicinandoli al mondo marino e acquatico per consentire loro di conoscerlo, apprezzarne il valore inestimabile,
        scoprire le principali minacce che ne minano l’esistenza e, attraverso il coinvolgimento diretto in esperienze
        edutainment, sollecitare un impegno personale per contribuire alla sua salvaguardia.</p>
    </div>
  </div>


  <div class="container text-center text-white py-5">
    <div class="row">
      <div class="col-md py-3">
        <i class="fa-solid fa-city fa-3x pb-3"></i>
        <hr>
        <p class="fw-bolder pt-2">27.000 MQ<br>SUPERFICIE ESPOSITIVA</p>
      </div>
      <div class="col-md py-3">
        <i class="fa-solid fa-fish-fins fa-3x pb-3"></i>
        <hr>
        <p class="fw-bolder pt-2">10.000<br>ANIMALI</p>
      </div>
      <div class="col-md py-3">
        <i class="fa-solid fa-leaf fa-3x pb-3"></i>
        <hr>
        <p class="fw-bolder pt-2">200<br>SPECIE VEGETALI</p>
      </div>
      <div class="col-md py-3">
        <i class="fa-solid fa-clock fa-3x pb-3"></i>
        <hr>
        <p class="fw-bolder pt-2">2/3 ORE<br>DURATA PERCORSO</p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid  pt-4  squalo">
  <h3 class="display-6 fw-bold text-white  text-center w-75 m-auto pb-5 ">Vieni a scoprire l’Acquario di Genova e
    immergiti in un mondo di emozioni.</h3>
  <div class="row flex-lg align-items-center g-5 pt-5 ps-4 ">
    <div class="col-10 col-sm-8 col-lg-6 descriptionsqualo">
      <p class=" text-white pt-5 pb-3 fw-bold h4 pt-5 ">La baia degli squali</p>
      <p class="lead text-white ">La grande vasca dedicata ai predatori del mare, che ospita, oltre a diverse specie di
        squalo provenienti da vari ambienti marini, altri pesci interessanti. In prossimità del fondale, per esempio, si
        possono vedere due esemplari di pesce sega. Tipici dell’ Oceano Indiano e del Pacifico occidentale, sono
        facilmente riconoscibili dal lungo rostro dentellato.</p>
    </div>
  </div>
</div>



<div class="container-fluid  pt-4  pinguino">
  <div class="row flex-row-reverse align-items-center g-5 pt-5 pe-4 description">
    <div class="col-10 col-sm-8 col-lg-6  ">
      <p class=" text-white pt-5 pb-3 fw-bold h4 pt-5">Il Regno dei Ghiacci</p>
      <p class="lead text-white ">La suggestiva scenografia con pareti laccate bianco a effetto ghiaccio accompagna i
        visitatori alla scoperta dell’inospitale continente antartico e delle aree subantartiche. Contrariamente a
        quanto avviene nelle aree continentali, le acque marine antartiche sono tutt’altro che disabitate; le specie che
        le abitano hanno sviluppato straordinari adattamenti per sopravvivere in condizioni estreme.</p>
    </div>
  </div>
</div>

<div class="container-fluid  pt-4   medusa">
  <div class="row flex align-items-center g-5 pt-5 ps-4 description">
    <div class="col-10 col-sm-8 col-lg-6 ">
      <p class=" text-white pt-5 pb-3 fw-bold h4 pt-5">La danza delle meduse</p>
      <p class="lead text-white ">Una sala dove lasciarsi trasportare dal movimento fluttuante delle meduse: nove vasche
        per scoprire specie provenienti da diversi mari del mondo, e le fasi principali del ciclo vitale di questi
        organismi antichi e dalla struttura molto semplice. Una colonna sonora dedicata e una particolare illuminazione
        accompagna i visitatori in questa coinvolgente esperienza.</p>
    </div>
  </div>
</div>

<div class="container-fluid  pt-4   biosfera">
  <div class="row flex-row-reverse align-items-center g-5 pt-5 pe-4 description">
    <div class="col-10 col-sm-8 col-lg-6 ">
      <p class=" text-white pt-5 pb-3 fw-bold h4 pt-5">Un giardino botanico a Genova</p>
      <p class="lead text-white ">La Biosfera è la scenografica struttura sferica di vetro e acciaio situata nel Porto
        Antico di Genova, progettata dall’architetto Renzo Piano. È il luogo dove imparare a conoscere la fauna e la
        flora delle foreste tropicali, delicati ecosistemi minacciati dallo sfruttamento umano. Potrai osservare da
        vicino oltre 150 specie, ammirare la loro fragile bellezza e comprendere come la loro sopravvivenza dipenda
        anche da te.</p>
    </div>
  </div>
</div>

<div class="container-fluid  pt-4   ibis">
  <div class="row flex align-items-center g-5 pt-5 ps-4 description">
    <div class="col-10 col-sm-8 col-lg-6 ">
      <p class=" text-white pt-5 pb-3 fw-bold h4 pt-5">Ibis scarlatto</p>
      <p class="lead text-white ">Fra tutti gli animali ospitati nella Biosfera, l’ibis scarlatto, con il caratteristico
        piumaggio di un intenso color rosso, è sicuramente il più appariscente. Vive nelle mangrovie, nelle zone di
        marea, negli estuari e in altre zone umide del Sud America nord orientale. Si nutre principalmente di crostacei,
        molluschi e piccoli pesci che cerca nel fango con il lungo becco ricurvo.</p>
    </div>
  </div>
</div>


  <div class="px-4 py-5  text-center visit">
    <h3 class="display-6 fw-bold text-white py-3 pt-5">Acquario di Genova.<br>
      Vieni a scoprire un oceano <br>di sorprese.</h3>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>


<app-footer></app-footer>

